    <h1>Template engine com Handlebars</h1>
    <p>O nome do usuário é {{userr.name}} {{user.surname}}, ele tem {{user.age}} anos e é {{user.profission}}.</p>

{{#if auth}}
    <h5>Você está autenticado.</h5>
    <p><a href="/dashboard">Clique aqui</a> para acessar a área de membros!</p>
{{/if}}


